<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
    <link rel="stylesheet" href="./script/DataTables/datatables.css"/>
    <link rel="stylesheet" href="./style/light_theme.css" id="theme">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
    <section class="page-header">
        <header class="header page-header-header page-header-header_theme_main-color">
            <div class="wrapper">
                <div class="page-header-header-inner">
                    <nav class="nav nav_width_50">
                        <a href="/board" class="nav__link nav__link_color_white">Список задач</a>
                        <a href="/vacation" class="nav__link nav__link_color_white">Отпуска</a>
                        <a href="/plea" class="nav__link nav__link_color_white">Мои заявления</a>
                        <% if (role == 4){%>
                        <a href="/all_pleas" class="nav__link nav__link_color_white">Все заявления</a>
                        <%}%>
                    </nav>
                    <div class="location">
                        <button class="button location-button">Назад</button>
                        <div class="text location-text">Вы сейчас на странице: Все заявления</div>
                    </div>
                    <nav class="nav user_nav nav_width_50">
                        <div class="nav-item nav-item_notification">
                            <svg class="fill_white nav__svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M467.819,431.851l-36.651-61.056c-16.896-28.181-25.835-60.437-25.835-93.312V224
                                            c0-82.325-67.008-149.333-149.333-149.333S106.667,141.675,106.667,224v53.483c0,32.875-8.939,65.131-25.835,93.312
                                            l-36.651,61.056c-1.984,3.285-2.027,7.403-0.149,10.731c1.899,3.349,5.461,5.419,9.301,5.419h405.333
                                            c3.84,0,7.403-2.069,9.301-5.419C469.845,439.253,469.803,435.136,467.819,431.851z M72.171,426.667l26.944-44.907
                                            C118.016,350.272,128,314.219,128,277.483V224c0-70.592,57.408-128,128-128s128,57.408,128,128v53.483
                                            c0,36.736,9.984,72.789,28.864,104.277l26.965,44.907H72.171z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M256,0c-23.531,0-42.667,19.136-42.667,42.667v42.667C213.333,91.221,218.112,96,224,96s10.667-4.779,10.667-10.667
                                            V42.667c0-11.776,9.557-21.333,21.333-21.333s21.333,9.557,21.333,21.333v42.667C277.333,91.221,282.112,96,288,96
                                            s10.667-4.779,10.667-10.667V42.667C298.667,19.136,279.531,0,256,0z"/>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M302.165,431.936c-3.008-5.077-9.515-6.741-14.613-3.819c-5.099,2.987-6.805,9.536-3.819,14.613
                                            c2.773,4.715,4.288,10.368,4.288,15.936c0,17.643-14.357,32-32,32c-17.643,0-32-14.357-32-32c0-5.568,1.515-11.221,4.288-15.936
                                            c2.965-5.099,1.259-11.627-3.819-14.613c-5.141-2.923-11.627-1.259-14.613,3.819c-4.715,8.064-7.211,17.301-7.211,26.731
                                            C202.667,488.085,226.581,512,256,512s53.333-23.915,53.376-53.333C309.376,449.237,306.88,440,302.165,431.936z"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="notification-menu hidden">
                            <div class="header notification-menu__header">
                                <div class="text">Уведомления</div>
                                <div class="notification-more">
                                    <svg class="fill_white" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve">
                                        <g>
                                            <g>
                                                <circle class="fill_white" cx="192" cy="42.667" r="42.667"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <circle class="fill_white" cx="192" cy="192" r="42.667"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <circle class="fill_white" cx="192" cy="341.333" r="42.667"/>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="notification-more_actions hidden">
                                    <div class="notif-actions-item">
                                        <div id="check_everything" class="subtitle">Отметить всё прочитанным</div>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-menu__content">
                                <hr class="nav-item-current-user_after__hr">
                                <div class="message_not_checked">
                                    <div class="subtitle message-item-subtitle message-item-subtitle_not_checked">Не прочитанно</div>
                                    <div class="message_not_checked__content">
                                        <% for (key in notifications_unchecked){%>
                                        <div class="message-item">
                                            <% if (notifications_unchecked[key].type == 1){%>
                                            <div value="<%= notifications_unchecked[key].id_notif%>" class="subtitle"><%= notifications_unchecked[key].fname%> <%= notifications_unchecked[key].mname%> добавил(а) вам задачу <%= notifications_unchecked[key].message%></div>
                                            <%} if (notifications_unchecked[key].type == 2){%>
                                            <div value="<%= notifications_unchecked[key].id_notif%>" class="subtitle">Ваша справка <%= notifications_unchecked[key].message%> готова</div>
                                            <%} if (notifications_unchecked[key].type == 3){%>
                                            <div value="<%= notifications_unchecked[key].id_notif%>" class="subtitle">В справке <%= notifications_unchecked[key].message%> было отказано </div>
                                            <%} if (notifications_unchecked[key].type == 4){%>
                                            <div value="<%= notifications_unchecked[key].id_notif%>" class="subtitle">Ваша справка <%= notifications_unchecked[key].message%> принята на рассмотрение </div>
                                            <%} if (notifications_unchecked[key].type == 5){%>
                                                <div value="<%= notifications_unchecked[key].id_notif%>" class="subtitle">Ваш <%= notifications_unchecked[key].message%> был принят</div>
                                            <%} if (notifications_unchecked[key].type == 6){%>
                                                <div value="<%= notifications_unchecked[key].id_notif%>" class="subtitle">В <%= notifications_unchecked[key].message%> было отказано</div>
                                            <%} if (notifications_unchecked[key].type == 7){%>
                                               <div value="<%= notifications_unchecked[key].id_notif%>" class="subtitle">Ваш <%= notifications_unchecked[key].message%> принят на рассмотрение</div>
                                            <%}%>
                                        </div>
                                        <%}%>
                                    </div>
                                </div>
                                <hr class="nav-item-current-user_after__hr">
                                <div class="message_checked">
                                    <div class="subtitle message-item-subtitle message-item-subtitle_checked">Прочитанно</div>
                                    <div class="message_checked__content">
                                        <% for (key in notifications_checked){%>
                                            <div class="message-item">
                                                <% if (notifications_checked[key].type == 1){%>
                                                    <div value="<%= notifications_checked[key].id_notif%>" class="subtitle"><%= notifications_checked[key].fname%> <%= notifications_checked[key].mname%> добавил(а) вам задачу <%= notifications_checked[key].message%></div>
                                                <%} if (notifications_checked[key].type == 2){%>
                                                    <div value="<%= notifications_checked[key].id_notif%>" class="subtitle">Ваша справка <%= notifications_checked[key].message%> готова</div>
                                                <%} if (notifications_checked[key].type == 3){%>
                                                    <div value="<%= notifications_checked[key].id_notif%>" class="subtitle">В справке <%= notifications_checked[key].message%> было отказано </div>
                                                <%} if (notifications_checked[key].type == 4){%>
                                                    <div value="<%= notifications_checked[key].id_notif%>" class="subtitle">Ваша справка <%= notifications_checked[key].message%> была принята на рассмотрение </div>
                                                <%} if (notifications_checked[key].type == 5){%>
                                                    <div value="<%= notifications_checked[key].id_notif%>" class="subtitle">Ваш <%= notifications_checked[key].message%> был принят</div>
                                                <%} if (notifications_checked[key].type == 6){%>
                                                    <div value="<%= notifications_checked[key].id_notif%>" class="subtitle">В <%= notifications_checked[key].message%> было отказано</div>
                                                <%} if (notifications_checked[key].type == 7){%>
                                                    <div value="<%= notifications_checked[key].id_notif%>" class="subtitle">Ваш <%= notifications_checked[key].message%> принят на рассмотрение</div>
                                                <%}%>
                                            </div>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item nav-item-current-user mini-profile">
                            <div class="current-user-user-name mini-profile">
                                <%= info %>
                            </div>
                            <div class="user-avatar mini-profile">
                                <svg class="fill_white nav__svg mini-profile" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M240,0C107.664,0,0,107.664,0,240c0,57.96,20.656,111.184,54.992,152.704c0.088,0.12,0.096,0.272,0.192,0.384
                                                c24.792,29.896,55.928,52.816,90.624,67.624c0.4,0.168,0.792,0.352,1.192,0.52c2.808,1.184,5.648,2.28,8.496,3.352
                                                c1.12,0.424,2.24,0.856,3.376,1.264c2.456,0.88,4.928,1.712,7.416,2.512c1.592,0.512,3.184,1.016,4.792,1.496
                                                c2.2,0.656,4.408,1.288,6.632,1.888c1.952,0.528,3.92,1.016,5.888,1.488c1.992,0.48,3.992,0.96,6,1.384
                                                c2.24,0.48,4.504,0.904,6.776,1.32c1.824,0.336,3.64,0.688,5.48,0.984c2.52,0.408,5.056,0.728,7.6,1.056
                                                c1.64,0.208,3.272,0.448,4.92,0.624c2.88,0.304,5.784,0.52,8.696,0.72c1.352,0.096,2.696,0.24,4.056,0.312
                                                c4.248,0.24,8.544,0.368,12.872,0.368s8.624-0.128,12.888-0.352c1.36-0.072,2.704-0.216,4.056-0.312
                                                c2.912-0.208,5.816-0.416,8.696-0.72c1.648-0.176,3.28-0.416,4.92-0.624c2.544-0.328,5.08-0.648,7.6-1.056
                                                c1.832-0.296,3.656-0.648,5.48-0.984c2.264-0.416,4.528-0.84,6.776-1.32c2.008-0.432,4-0.904,6-1.384
                                                c1.968-0.48,3.936-0.968,5.888-1.488c2.224-0.592,4.432-1.232,6.632-1.888c1.608-0.48,3.2-0.984,4.792-1.496
                                                c2.488-0.8,4.96-1.632,7.416-2.512c1.128-0.408,2.248-0.84,3.376-1.264c2.856-1.072,5.688-2.176,8.496-3.352
                                                c0.4-0.168,0.792-0.352,1.192-0.52c34.688-14.808,65.832-37.728,90.624-67.624c0.096-0.112,0.104-0.272,0.192-0.384
                                                C459.344,351.184,480,297.96,480,240C480,107.664,372.336,0,240,0z M337.256,441.76c-0.12,0.056-0.232,0.12-0.352,0.176
                                                c-2.856,1.376-5.76,2.672-8.688,3.936c-0.664,0.28-1.32,0.568-1.984,0.848c-2.56,1.072-5.152,2.088-7.76,3.064
                                                c-1.088,0.408-2.176,0.808-3.272,1.192c-2.312,0.824-4.632,1.616-6.976,2.368c-1.456,0.464-2.92,0.904-4.384,1.336
                                                c-2.08,0.624-4.168,1.224-6.28,1.784c-1.776,0.472-3.568,0.904-5.36,1.328c-1.88,0.448-3.752,0.904-5.648,1.304
                                                c-2.072,0.44-4.16,0.816-6.24,1.192c-1.688,0.312-3.368,0.64-5.072,0.912c-2.344,0.368-4.712,0.664-7.072,0.96
                                                c-1.496,0.192-2.984,0.416-4.496,0.576c-2.696,0.288-5.416,0.472-8.128,0.664c-1.208,0.08-2.408,0.216-3.632,0.28
                                                c-3.96,0.208-7.928,0.32-11.912,0.32s-7.952-0.112-11.904-0.32c-1.216-0.064-2.416-0.192-3.632-0.28
                                                c-2.72-0.184-5.432-0.376-8.128-0.664c-1.512-0.16-3-0.384-4.496-0.576c-2.36-0.296-4.728-0.592-7.072-0.96
                                                c-1.704-0.272-3.384-0.6-5.072-0.912c-2.088-0.376-4.176-0.76-6.24-1.192c-1.896-0.4-3.776-0.856-5.648-1.304
                                                c-1.792-0.432-3.584-0.856-5.36-1.328c-2.104-0.56-4.2-1.168-6.28-1.784c-1.464-0.432-2.928-0.872-4.384-1.336
                                                c-2.344-0.752-4.672-1.544-6.976-2.368c-1.096-0.392-2.184-0.792-3.272-1.192c-2.608-0.976-5.2-1.992-7.76-3.064
                                                c-0.664-0.272-1.312-0.56-1.976-0.84c-2.928-1.256-5.832-2.56-8.696-3.936c-0.12-0.056-0.232-0.112-0.352-0.176
                                                c-27.912-13.504-52.568-32.672-72.576-55.952c15.464-56.944,59.24-102.848,115.56-121.112c1.112,0.68,2.272,1.288,3.416,1.928
                                                c0.672,0.376,1.336,0.776,2.016,1.136c2.384,1.264,4.8,2.448,7.272,3.512c1.896,0.832,3.856,1.536,5.808,2.256
                                                c0.384,0.136,0.768,0.288,1.152,0.424c10.848,3.84,22.456,6.04,34.6,6.04s23.752-2.2,34.592-6.04
                                                c0.384-0.136,0.768-0.288,1.152-0.424c1.952-0.72,3.912-1.424,5.808-2.256c2.472-1.064,4.888-2.248,7.272-3.512
                                                c0.68-0.368,1.344-0.76,2.016-1.136c1.144-0.64,2.312-1.248,3.432-1.936c56.32,18.272,100.088,64.176,115.56,121.112
                                                C389.824,409.08,365.168,428.248,337.256,441.76z M152,176c0-48.52,39.48-88,88-88s88,39.48,88,88
                                                c0,30.864-16.008,58.024-40.128,73.736c-3.152,2.048-6.432,3.88-9.8,5.48c-0.4,0.192-0.792,0.392-1.192,0.576
                                                c-23.168,10.536-50.592,10.536-73.76,0c-0.4-0.184-0.8-0.384-1.192-0.576c-3.376-1.6-6.648-3.432-9.8-5.48
                                                C168.008,234.024,152,206.864,152,176z M421.832,370.584c-18.136-53.552-59.512-96.832-112.376-117.392
                                                C330.6,234.144,344,206.64,344,176c0-57.344-46.656-104-104-104s-104,46.656-104,104c0,30.64,13.4,58.144,34.552,77.192
                                                c-52.864,20.568-94.24,63.84-112.376,117.392C31.672,333.792,16,288.704,16,240C16,116.488,116.488,16,240,16s224,100.488,224,224
                                                C464,288.704,448.328,333.792,421.832,370.584z"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="current-user-arrow-down mini-profile">
                                <svg class="fill_white mini-profile" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 490.688 490.688" style="enable-background:new 0 0 490.688 490.688;" xml:space="preserve">
                                    <path style="fill:#d3d3d3;" d="M472.328,120.529L245.213,347.665L18.098,120.529c-4.237-4.093-10.99-3.975-15.083,0.262
                                        c-3.992,4.134-3.992,10.687,0,14.82l234.667,234.667c4.165,4.164,10.917,4.164,15.083,0l234.667-234.667
                                        c4.237-4.093,4.354-10.845,0.262-15.083c-4.093-4.237-10.845-4.354-15.083-0.262c-0.089,0.086-0.176,0.173-0.262,0.262
                                        L472.328,120.529z"/>
                                    <path d="M245.213,373.415c-2.831,0.005-5.548-1.115-7.552-3.115L2.994,135.633c-4.093-4.237-3.975-10.99,0.262-15.083
                                        c4.134-3.992,10.687-3.992,14.82,0l227.136,227.115l227.115-227.136c4.093-4.237,10.845-4.354,15.083-0.262
                                        c4.237,4.093,4.354,10.845,0.262,15.083c-0.086,0.089-0.173,0.176-0.262,0.262L252.744,370.279
                                        C250.748,372.281,248.039,373.408,245.213,373.415z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="nav-item-current-user_after mini-profile hidden">
                            <div class="profile nav-item-current-user_after-item mini-profile">
                                <svg class="fill_white nav__svg mini-profile" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 480 480" style="enable-background:new 0 0 480 480;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M240,0C107.664,0,0,107.664,0,240c0,57.96,20.656,111.184,54.992,152.704c0.088,0.12,0.096,0.272,0.192,0.384
                                            c24.792,29.896,55.928,52.816,90.624,67.624c0.4,0.168,0.792,0.352,1.192,0.52c2.808,1.184,5.648,2.28,8.496,3.352
                                            c1.12,0.424,2.24,0.856,3.376,1.264c2.456,0.88,4.928,1.712,7.416,2.512c1.592,0.512,3.184,1.016,4.792,1.496
                                            c2.2,0.656,4.408,1.288,6.632,1.888c1.952,0.528,3.92,1.016,5.888,1.488c1.992,0.48,3.992,0.96,6,1.384
                                            c2.24,0.48,4.504,0.904,6.776,1.32c1.824,0.336,3.64,0.688,5.48,0.984c2.52,0.408,5.056,0.728,7.6,1.056
                                            c1.64,0.208,3.272,0.448,4.92,0.624c2.88,0.304,5.784,0.52,8.696,0.72c1.352,0.096,2.696,0.24,4.056,0.312
                                            c4.248,0.24,8.544,0.368,12.872,0.368s8.624-0.128,12.888-0.352c1.36-0.072,2.704-0.216,4.056-0.312
                                            c2.912-0.208,5.816-0.416,8.696-0.72c1.648-0.176,3.28-0.416,4.92-0.624c2.544-0.328,5.08-0.648,7.6-1.056
                                            c1.832-0.296,3.656-0.648,5.48-0.984c2.264-0.416,4.528-0.84,6.776-1.32c2.008-0.432,4-0.904,6-1.384
                                            c1.968-0.48,3.936-0.968,5.888-1.488c2.224-0.592,4.432-1.232,6.632-1.888c1.608-0.48,3.2-0.984,4.792-1.496
                                            c2.488-0.8,4.96-1.632,7.416-2.512c1.128-0.408,2.248-0.84,3.376-1.264c2.856-1.072,5.688-2.176,8.496-3.352
                                            c0.4-0.168,0.792-0.352,1.192-0.52c34.688-14.808,65.832-37.728,90.624-67.624c0.096-0.112,0.104-0.272,0.192-0.384
                                            C459.344,351.184,480,297.96,480,240C480,107.664,372.336,0,240,0z M337.256,441.76c-0.12,0.056-0.232,0.12-0.352,0.176
                                            c-2.856,1.376-5.76,2.672-8.688,3.936c-0.664,0.28-1.32,0.568-1.984,0.848c-2.56,1.072-5.152,2.088-7.76,3.064
                                            c-1.088,0.408-2.176,0.808-3.272,1.192c-2.312,0.824-4.632,1.616-6.976,2.368c-1.456,0.464-2.92,0.904-4.384,1.336
                                            c-2.08,0.624-4.168,1.224-6.28,1.784c-1.776,0.472-3.568,0.904-5.36,1.328c-1.88,0.448-3.752,0.904-5.648,1.304
                                            c-2.072,0.44-4.16,0.816-6.24,1.192c-1.688,0.312-3.368,0.64-5.072,0.912c-2.344,0.368-4.712,0.664-7.072,0.96
                                            c-1.496,0.192-2.984,0.416-4.496,0.576c-2.696,0.288-5.416,0.472-8.128,0.664c-1.208,0.08-2.408,0.216-3.632,0.28
                                            c-3.96,0.208-7.928,0.32-11.912,0.32s-7.952-0.112-11.904-0.32c-1.216-0.064-2.416-0.192-3.632-0.28
                                            c-2.72-0.184-5.432-0.376-8.128-0.664c-1.512-0.16-3-0.384-4.496-0.576c-2.36-0.296-4.728-0.592-7.072-0.96
                                            c-1.704-0.272-3.384-0.6-5.072-0.912c-2.088-0.376-4.176-0.76-6.24-1.192c-1.896-0.4-3.776-0.856-5.648-1.304
                                            c-1.792-0.432-3.584-0.856-5.36-1.328c-2.104-0.56-4.2-1.168-6.28-1.784c-1.464-0.432-2.928-0.872-4.384-1.336
                                            c-2.344-0.752-4.672-1.544-6.976-2.368c-1.096-0.392-2.184-0.792-3.272-1.192c-2.608-0.976-5.2-1.992-7.76-3.064
                                            c-0.664-0.272-1.312-0.56-1.976-0.84c-2.928-1.256-5.832-2.56-8.696-3.936c-0.12-0.056-0.232-0.112-0.352-0.176
                                            c-27.912-13.504-52.568-32.672-72.576-55.952c15.464-56.944,59.24-102.848,115.56-121.112c1.112,0.68,2.272,1.288,3.416,1.928
                                            c0.672,0.376,1.336,0.776,2.016,1.136c2.384,1.264,4.8,2.448,7.272,3.512c1.896,0.832,3.856,1.536,5.808,2.256
                                            c0.384,0.136,0.768,0.288,1.152,0.424c10.848,3.84,22.456,6.04,34.6,6.04s23.752-2.2,34.592-6.04
                                            c0.384-0.136,0.768-0.288,1.152-0.424c1.952-0.72,3.912-1.424,5.808-2.256c2.472-1.064,4.888-2.248,7.272-3.512
                                            c0.68-0.368,1.344-0.76,2.016-1.136c1.144-0.64,2.312-1.248,3.432-1.936c56.32,18.272,100.088,64.176,115.56,121.112
                                            C389.824,409.08,365.168,428.248,337.256,441.76z M152,176c0-48.52,39.48-88,88-88s88,39.48,88,88
                                            c0,30.864-16.008,58.024-40.128,73.736c-3.152,2.048-6.432,3.88-9.8,5.48c-0.4,0.192-0.792,0.392-1.192,0.576
                                            c-23.168,10.536-50.592,10.536-73.76,0c-0.4-0.184-0.8-0.384-1.192-0.576c-3.376-1.6-6.648-3.432-9.8-5.48
                                            C168.008,234.024,152,206.864,152,176z M421.832,370.584c-18.136-53.552-59.512-96.832-112.376-117.392
                                            C330.6,234.144,344,206.64,344,176c0-57.344-46.656-104-104-104s-104,46.656-104,104c0,30.64,13.4,58.144,34.552,77.192
                                            c-52.864,20.568-94.24,63.84-112.376,117.392C31.672,333.792,16,288.704,16,240C16,116.488,116.488,16,240,16s224,100.488,224,224
                                            C464,288.704,448.328,333.792,421.832,370.584z"/>
                                    </g>
                                </g>
                            </svg>
                                <div class="profile-info mini-profile">
                                    <div class="text"> <%= info %></div>
                                    <div class="subtitle">Перейти в личный кабинет</div>
                                </div>
                            </div>
                            <hr class="nav-item-current-user_after__hr">
                            <div class="customization nav-item-current-user_after-item mini-profile">
                                <div class="nav-item nav-item-theme mini-profile"></div>
                                <div class="text mini-profile">Переключить тему сайта</div>
                            </div>
                            <hr class="nav-item-current-user_after__hr">
                            <div class="exit nav-item-current-user_after-item mini-profile">
                                <svg class="fill_white nav__svg" id="light" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m13.5 21h-4c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h4c.827 0 1.5-.673 1.5-1.5v-5c0-.276.224-.5.5-.5s.5.224.5.5v5c0 1.378-1.121 2.5-2.5 2.5z"/></g><g><path d="m23.5 11h-10c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h10c.276 0 .5.224.5.5s-.224.5-.5.5z"/></g><g><path d="m8 24c-.22 0-.435-.037-.638-.109l-5.99-1.997c-.82-.273-1.372-1.035-1.372-1.894v-18c0-1.103.897-2 2-2 .222 0 .438.037.639.11l5.989 1.996c.82.272 1.372 1.034 1.372 1.894v18c0 1.103-.897 2-2 2zm-6-23c-.552 0-1 .449-1 1v18c0 .428.276.808.688.946l6 2c.656.233 1.312-.292 1.312-.946v-18c0-.429-.276-.809-.688-.945l-6-2c-.103-.037-.208-.055-.312-.055z"/></g><g><path d="m15.5 8c-.276 0-.5-.224-.5-.5v-5c0-.827-.673-1.5-1.5-1.5h-11.5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h11.5c1.379 0 2.5 1.122 2.5 2.5v5c0 .276-.224.5-.5.5z"/></g><g><path d="m19.5 15c-.128 0-.256-.049-.354-.146-.195-.195-.195-.512 0-.707l3.646-3.646-3.646-3.646c-.195-.195-.195-.512 0-.707s.512-.195.707 0l4 4c.195.195.195.512 0 .707l-4 4c-.097.096-.225.145-.353.145z"/></g></svg>
                                <div class="exit-info">
                                    <div class="text">Выйти</div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </section>

    <section class="page-main">
        <div class="wrapper">
            <div class="page-main-inner">
                <div class="before-table">
                    <div class="filters">
                        <div class="filters-item">
                            <select name="" id="select-categories" class="select filters-item-select">
                                <option selected value="All">Все</option>
                                <% for (var key in plea_categ) { %>
                                    <option value="<%= plea_categ[key].plea_categ%>"><%= plea_categ[key].plea_categ%></option>
                                <%}%>
                            </select>
                            <div class="filters-item__subtitle">
                                Фильтр по категориям
                            </div>
                        </div>
                        <div class="filters-item">
                            <select name="" id="select-status" class="select filters-item-select">
                                <option selected value="All">Все</option>
                                <% for (var key in plea_status) { %>
                                    <% if (plea_status[key].plea_status  == null){%>
                                <%} else {%>
                                    <option value="<%= plea_status[key].plea_status %>"><%= plea_status[key].plea_status%></option>
                                    <%}%>
                                <%}%>
                            </select>
                            <div class="filters-item__subtitle">
                                Фильтр по статусу
                            </div>
                        </div>
                    </div>
                </div>
                <table id="pleaTableAll" class="display">
                    <thead>
                        <tr>
                            <!-- <th class="dt-head-left"><div class="table-checkbox" id="table-checkbox-all"></div></th> -->
                            <th class="dt-head-left">Сотрудник</th>
                            <th class="dt-head-left">Категория</th>
                            <th class="dt-head-left">Дата</th>
                            <th class="dt-head-left">Статус заявки</th>
                            <th class="dt-head-left">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var key in pleas) { %>
                            <tr data-id="<%= pleas[key].id_plea %>">
                                <!-- <td><div value="<%= pleas[key].id_plea %>" class="table-checkbox tbody-checkbox"></div></td> -->
                                <td value ="<%=pleas[key].fk_id_worker%>"><%= pleas[key].fio %></td>
                                <% if (pleas[key].plea_categ == "Отпуск"){%>
                                <td class="categories"><%= pleas[key].plea_categ %></td>
                                <td class="date-pleas" data-date="<%=pleas[key].extra %>"></td>
                                <%} else {%>
                                    <td class="categories"><%= pleas[key].plea_categ%></td>
                                    <td>NONE</td> <!--Но должна быть! Если будет прикрути статус date-pleas-->
                                <%}%>
                                <td><%= pleas[key].plea_status %></td>
                                <td class="actions">
                                    <% if (pleas[key].id_plea_status == 0){%>
                                    <div class="actions-item button_awaits" title="Принять на рассмотрение">
                                        <svg class="fill_white" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 412.338 412.338" style="enable-background:new 0 0 412.338 412.338;" xml:space="preserve">
                                            <g>
                                                <path d="M404.275,362.88L299.188,257.794c-3.585-3.601-8.12-5.869-12.924-6.974
                                                    c18.176-25.67,28.962-56.924,28.962-90.715c0-86.911-70.694-157.613-157.613-157.613C70.702,2.491,0,73.186,0,160.104
                                                    c0,86.903,70.702,157.605,157.613,157.605c36.075,0,69.239-12.355,95.82-32.848c1.236,4.324,3.438,8.429,6.836,11.835
                                                    l105.102,105.094c5.202,5.202,12.103,8.055,19.46,8.055s14.258-2.861,19.452-8.055c5.202-5.202,8.064-12.112,8.055-19.476
                                                    C412.33,374.967,409.469,368.066,404.275,362.88z M16.249,160.096c0-77.945,63.411-141.356,141.356-141.356
                                                    c77.937,0,141.348,63.411,141.348,141.356c0,37.383-14.705,71.328-38.481,96.641c-0.114,0.098-0.228,0.138-0.35,0.228
                                                    c-0.163,0.171-0.203,0.39-0.366,0.545c-25.751,26.995-61.98,43.919-102.136,43.919C79.668,301.444,16.249,238.025,16.249,160.096z
                                                        M392.781,390.289c-4.251,4.259-11.664,4.251-15.916,0L271.763,285.203c-4.381-4.389-4.381-11.534,0-15.924
                                                    c2.13-2.13,4.958-3.3,7.966-3.3s5.828,1.179,7.958,3.3L392.789,374.39c2.122,2.122,3.284,4.934,3.284,7.942
                                                    C396.081,385.331,394.911,388.168,392.781,390.289z"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <%} if (pleas[key].id_plea_status == 1) {%>
                                    <div class="actions-item button_accepted" title="Принять">
                                        <svg class="fill_white" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 372.09 372.09" style="enable-background:new 0 0 372.09 372.09;" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <polygon points="339.719,27.855 120.922,282.666 29.143,196.838 0,228.001 124.293,344.235 372.09,55.65 		"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="actions-item button_denied" title="Отказать">
                                        <svg class="fill_white" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 587.91 587.91" style="enable-background:new 0 0 587.91 587.91;"
                                            xml:space="preserve">
                                            <g>
                                                <g>
                                                    <g>
                                                        <path d="M86.451,501.46c26.937,26.936,58.315,48.088,93.265,62.871c36.207,15.314,74.642,23.078,114.239,23.078
                                                            c39.596,0,78.032-7.764,114.239-23.078c34.949-14.783,66.328-35.936,93.266-62.871c26.936-26.938,48.09-58.316,62.871-93.266
                                                            c15.314-36.207,23.08-74.643,23.08-114.238c0-39.598-7.766-78.033-23.08-114.239c-14.781-34.95-35.936-66.328-62.871-93.265
                                                            c-26.938-26.937-58.316-48.09-93.266-62.872C371.986,8.265,333.551,0.501,293.955,0.501c-39.597,0-78.032,7.765-114.239,23.079
                                                            c-34.95,14.782-66.328,35.936-93.265,62.872s-48.09,58.315-62.873,93.264C8.265,215.923,0.5,254.358,0.5,293.956
                                                            c0,39.596,7.765,78.031,23.079,114.238C38.361,443.144,59.515,474.522,86.451,501.46z M293.955,43.341
                                                            c138.411,0,250.614,112.204,250.614,250.615c0,138.41-112.203,250.613-250.614,250.613S43.34,432.366,43.34,293.956
                                                            C43.34,155.545,155.544,43.341,293.955,43.341z"/>
                                                        <path d="M293.955,587.909c-39.667,0-78.167-7.778-114.434-23.117c-35.01-14.809-66.442-35.998-93.423-62.979
                                                            c-26.983-26.984-48.172-58.417-62.979-93.425C7.778,372.119,0,333.618,0,293.956c0-39.663,7.778-78.165,23.118-114.435
                                                            c14.807-35.008,35.997-66.44,62.979-93.423c26.982-26.983,58.415-48.172,93.423-62.979c36.27-15.34,74.771-23.118,114.434-23.118
                                                            c39.666,0,78.167,7.778,114.433,23.119c35.009,14.807,66.441,35.997,93.425,62.979c26.984,26.985,48.173,58.417,62.979,93.423
                                                            c15.341,36.27,23.119,74.771,23.119,114.434c0,39.662-7.778,78.163-23.119,114.433c-14.806,35.007-35.994,66.439-62.979,93.425
                                                            c-26.982,26.98-58.415,48.169-93.425,62.979C372.121,580.131,333.62,587.909,293.955,587.909z M293.955,1.001
                                                            c-39.529,0-77.898,7.751-114.044,23.039c-34.889,14.757-66.215,35.874-93.106,62.765c-26.892,26.892-48.009,58.217-62.766,93.105
                                                            C8.751,216.057,1,254.427,1,293.956C1,333.483,8.751,371.854,24.039,408c14.757,34.889,35.874,66.214,62.766,93.106
                                                            c26.89,26.889,58.215,48.006,93.106,62.765c36.142,15.287,74.512,23.038,114.044,23.038s77.901-7.751,114.044-23.039
                                                            c34.89-14.758,66.216-35.875,93.106-62.764c26.893-26.895,48.009-58.22,62.764-93.106
                                                            c15.289-36.146,23.041-74.516,23.041-114.044c0-39.529-7.752-77.899-23.041-114.044c-14.754-34.887-35.871-66.212-62.764-93.106
                                                            c-26.892-26.891-58.218-48.008-93.106-62.765C371.855,8.752,333.485,1.001,293.955,1.001z M293.955,545.069
                                                            c-67.075,0-130.136-26.12-177.565-73.549c-47.429-47.43-73.55-110.489-73.55-177.564S68.96,163.82,116.39,116.391
                                                            c47.429-47.429,110.49-73.55,177.565-73.55c67.075,0,130.135,26.121,177.564,73.55c47.43,47.43,73.55,110.49,73.55,177.565
                                                            s-26.12,130.135-73.55,177.564C424.09,518.949,361.029,545.069,293.955,545.069z M293.955,43.841
                                                            c-66.808,0-129.617,26.017-176.858,73.257c-47.24,47.241-73.257,110.05-73.257,176.858c0,66.808,26.017,129.617,73.257,176.856
                                                            c47.24,47.24,110.05,73.257,176.858,73.257s129.617-26.017,176.857-73.257c47.24-47.239,73.257-110.049,73.257-176.856
                                                            c0-66.808-26.017-129.618-73.257-176.858C423.571,69.857,360.763,43.841,293.955,43.841z"/>
                                                    </g>
                                                    <g>
                                                        <path d="M184.92,402.989c4.183,4.184,9.664,6.275,15.146,6.275c5.482,0,10.964-2.092,15.146-6.275l78.742-78.742l78.743,78.742
                                                            c4.182,4.184,9.664,6.275,15.146,6.275s10.963-2.092,15.146-6.275c8.365-8.363,8.365-21.926,0-30.291l-78.744-78.742
                                                            l78.742-78.743c8.365-8.365,8.365-21.928,0-30.292c-8.363-8.365-21.926-8.365-30.291,0l-78.743,78.743l-78.742-78.743
                                                            c-8.365-8.365-21.928-8.365-30.292,0c-8.365,8.365-8.365,21.927,0,30.292l78.743,78.743l-78.743,78.742
                                                            C176.555,381.063,176.555,394.626,184.92,402.989z"/>
                                                        <path d="M387.844,409.765c-5.856,0-11.36-2.28-15.5-6.422l-78.389-78.389l-78.388,78.389c-4.14,4.142-9.645,6.422-15.5,6.422
                                                            s-11.36-2.28-15.5-6.422c-4.14-4.14-6.42-9.644-6.42-15.498c0-5.855,2.28-11.359,6.42-15.5l78.389-78.389l-78.389-78.389
                                                            c-8.546-8.547-8.546-22.453,0-31c4.14-4.14,9.644-6.42,15.5-6.42c5.855,0,11.36,2.28,15.5,6.42l78.389,78.389l78.389-78.389
                                                            c4.141-4.14,9.645-6.42,15.5-6.42c5.854,0,11.358,2.28,15.498,6.42c4.141,4.14,6.42,9.645,6.42,15.5s-2.279,11.36-6.42,15.5
                                                            l-78.389,78.389l78.391,78.389c4.141,4.141,6.421,9.645,6.421,15.5c0,5.854-2.28,11.358-6.421,15.498
                                                            C399.202,407.484,393.698,409.765,387.844,409.765z M293.955,323.54l79.096,79.096c3.95,3.952,9.204,6.129,14.793,6.129
                                                            c5.587,0,10.841-2.177,14.793-6.129c3.951-3.95,6.128-9.203,6.128-14.791s-2.177-10.842-6.128-14.793l-79.098-79.096
                                                            l79.096-79.096c3.951-3.951,6.127-9.205,6.127-14.793s-2.176-10.841-6.127-14.792c-3.95-3.951-9.203-6.127-14.791-6.127
                                                            s-10.842,2.176-14.793,6.127l-79.096,79.096l-79.096-79.096c-3.951-3.951-9.205-6.127-14.793-6.127
                                                            c-5.588,0-10.841,2.176-14.792,6.127c-8.156,8.157-8.156,21.428,0,29.585l79.096,79.096l-79.096,79.096
                                                            c-3.951,3.951-6.127,9.205-6.127,14.793s2.176,10.841,6.127,14.791c3.952,3.952,9.205,6.129,14.793,6.129
                                                            s10.841-2.177,14.793-6.129L293.955,323.54z"/>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <div class="after-table hidden">
                    <div class="text">По данным фильтрам ничего не найдено</div>
                </div>
            </div>
        </div>
    </section>
    <script>
        let id = <%= id%>;
        let user_info =  '<%= info %>';
    </script>
    <script src="./script/jquery.min.js"></script>
    <script src="./script/DataTables/datatables.min.js"></script>
    <script src="./script/theme.js"></script>
    <script src="./script/filters.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="./script/main.js"></script>
    <script src="./script/plea.js"></script>
</body>
</html>