<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/board.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@300;600&display=swap" rel="stylesheet">
    <title>Main page</title>
</head>
<body>

    <main class="main">
        <aside class="aside">
            <div class="aside-item">
                <img src="./img/asideUser.png" alt="" class="img img--aside">
            </div>
            <div class="aside-item  aside-item--active">
                <img src="./img/to-do.png" alt="" class="img img--aside">
            </div>
            <div class="aside-item">
                <a href="/vacation"><img src="./img/luggage.png" alt="" class="img img--aside"></a>
            </div>
        </aside>
        <div class="modal-aside">
            <div class="title">
                Мои задачи
            </div>
            <div class="categoris">
                <% for (var key in categories) { %>
                <div class="categoris-item">
                    <div class="text categoris-text" title="<%= categories[key].categories%>"><%= categories[key].categories%></div>
                    <div class="counter all-tasks">
                        <%= categories[key].count%>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="main-content">
            <header class="header header--top">
                <div class="header__inner">
                    <form action="" class="search-form">
                        <input type="search" placeholder="Найти задачу" class="search">
                        <input type="image" class="img img--lens" src="./img/magnify.png">
                    </form>

                    <nav class="nav">
                        <div class="nav-item nav-item--notif">
                            <img src="./img/bell.png" alt="" class="img img--notif">
                            <div class="notif-counter">1</div>
                        </div>
                        <a href="" class="nav-item">
                            <img src="./img/defaultUser.png" alt="" class="img img--avatar">
                            <div class="text text--header">
                                <%= info %>
                            </div>
                        </a>
                    </nav>


                </div>
            </header>
            
            <div class="after-header">
                <div class="line1">
                    <span class="text">
                        Обзор
                    </span>
                </div>
                <div class="line2"></div>
            </div>

            <div class="greet-message">
                Здравствуйте, <span class="username"><%= info %></span>
            </div>

            <div class="buttons-process">
                <button class="bp-item bp-item--all-task">
                    Все задачи
                    <div class="text all-tasks">
                        350
                    </div>
                </button>
                <button class="bp-item bp-item--in-progress">
                    В процессе
                    <div class="text" id="in-progress">
                        50
                    </div>
                </button>
                <button class="bp-item bp-item--completed">
                    Завершено
                    <div class="text" id="completed">
                        300
                    </div>
                </button>
                <button class="bp-item bp-item--new-task">
                    + Новая задача
                </button>
            </div>
            <section class="tasks">
                <% for (var key in tasks) { %>
                    <div class="tasks-card" data-task="<%= tasks[key].categories %>" data-key="<%= tasks[key].name %>" data-desc="<%= tasks[key].desc %>" data-date="<%= tasks[key].dline %>">
                        <div class="type">
                            <%= tasks[key].categories %>
                        </div>
                        <div class="description">
                            <%= tasks[key].name %>
                        </div>
                        <!-- Если эта функция нужна будет -->
                        <div class="workers">
                            <img src="./img/defaultUser.png" alt="">
                        </div>
                    </div>
                    <% } %>
            </section>
            <div class="wrapper-notification dn">
                <div class="modal-window modal-window--notifications">
                    <div class="mw-content">
                        <div class="mw-content__item mw-content__item--notif">
                            <div class="type-notif">
                                <img src="./img/plus.svg" alt="" class="img-type">
                            </div>
                            <div class="content-notif">
                                <div class="name-notif">
                                    Что-то не большое пожалуйста!
                                </div>
                                <div class="send-date">
                                    24.03.2021
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mw-bottom">
                        <button class="mw-bottom__exit">
                            Выйти
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal modal--tasks dn">
                <div class="modal-window">
                    <div class="mw-top">
                        <div class="mw-top__title work"></div>
                        <div class="mw-top__deadline"></div>
                    </div>
                    <div class="mw-content">
                        <div class="mw-content__description"></div>
                    </div>
                    <div class="mw-bottom">
                        <div class="mw-bottom__workers">
                            <img src="./img/defaultUser.png" alt="">
                        </div>
                        <button class="mw-bottom__exit">
                            Выйти
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal modal--newTasks dn">
                <div class="modal-window modal-window--newTasks">
                    <div class="slider-line">
                        <form action="/board" class="form form--newTasks" method="POST">
                            <div class="mw-top">
                                <div class="mw-top__title">
                                    Государственные задачи
                                </div>
                                <button class="mw-top__button" type="button">
                                    Создать задачу
                                </button>
                            </div>
                            <div class="mw-content mw-content--newTasks">
                                <% for(var i=0; i < gov_tasks.length; i++) {%>
                                <div class="mw-content__item">
                                    <div class="wrapper">
                                        <div class="mw-content-item__text">
                                            <div class="task">
                                                <div class="count"><%= i + 1 %>.</div>
                                                <div class="task__text">
                                                    <%= gov_tasks[i].name%>
                                                </div>
                                            </div>
                                            <div class="symbol" data-key="<%= i + 1 %>"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                <g>
                                                    <g>
                                                        <path style="fill:#1560BD;" d="M492,236H276V20c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v216H20c-11.046,0-20,8.954-20,20s8.954,20,20,20h216
                                                            v216c0,11.046,8.954,20,20,20s20-8.954,20-20V276h216c11.046,0,20-8.954,20-20C512,244.954,503.046,236,492,236z"/>
                                                    </g>
                                                </g>
                                        </svg></div>
                                        </div>
                                        <div class="mw-content-item__right">
                                            <div class="task-check">
                                                <div class="task-chek__deadline" data-date="<%= gov_tasks[i].dline%>"></div>
                                                <input type="checkbox" name="task" id="task" value="<%= gov_tasks[i].id_task%>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mw-content__hidden-item dn" data-key="<%= i + 1 %>">
                                        <div class="mw-content-hidden-item__text">
                                            <%= gov_tasks[i].desc%>
                                        </div>
                                    </div>
                                </div>
                                <% }%>
                            </div>
                            <div class="mw-bottom">
                                <input type="submit" class="mw-bottom__add" value="Добавить себе" >
                                <button class="mw-bottom__exit" type="button">
                                    Выйти
                                </button>
                            </div>
                        </form>
                        <form action="/board" method="POST" class="form form-createTask">
                            <div class="mw-top">
                                <button class="mw-top__button-back" type="button">
                                    <svg class="mw-top-button__img" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 31.494 31.494" style="enable-background:new 0 0 31.494 31.494;" xml:space="preserve">
                                        <path style="fill:#fff;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
                                        c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
                                        c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/>
                                    </svg>
                                </button>
                                <div class="mw-top__title">
                                    Создание задачи
                                </div>
                            </div>
                            <div class="mw-content mw-content--createTasks">
                                <div class="form-item">
                                    <input type="text" name="taskName" id="taskName" class="form-item__input" required=''>
                                    <label for="form-item__input" class="form-item__label">Название задачи</label>
                                </div>
                                <select class="form-item" name="categories">
                                    <option selected value="" >Выберите категорию</option>
                                    <% for(var i=0; i < categ_name.length; i++) {%>
                                    <option value="<%= categ_name[i].id_categories%>"><%= categ_name[i].categories%></option>
                                    <% }%>
                                   </select>
                                <div class="form-item">
                                    <textarea id="taskDesc" name="taskDesc" class="form-item__input textarea-input" required=''></textarea>
                                    <label for="form-item__input" class="form-item__label textarea-label">Описание</label>
                                </div>
                                <div class="form-item">
                                    <input type="text" id="taskDeadline" name="taskDeadline" class="form-item__input date-input" required='' autocomplete="off" autocomplete="disabled">
                                    <label for="form-item__input" class="form-item__label date-label">Дата</label>
                                </div>
                                <input type="submit" value="Создать" class="mw-content-input__submit">
                            </div>
                            <div class="mw-bottom">
                                <button class="mw-bottom__exit" type="button">
                                    Выйти
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="./script/jquery.min.js"></script>
    <script src="./script/jquery.maskedinput.js"></script>
    <script src="./script/main.js"></script>
</body>
</html>