<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/board.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@300;600&display=swap" rel="stylesheet">
    <title>Main page</title>
</head>
<body>

    <main class="main">
        <aside class="aside">
            <div class="aside-item">
                <img src="./img/asideUser.png" alt="" class="img img--aside">
            </div>
            <div class="aside-item  aside-item--active">
                <img src="./img/to-do.png" alt="" class="img img--aside">
            </div>
            <div class="aside-item">
                <img src="./img/luggage.png" alt="" class="img img--aside">
            </div>
        </aside>
        <div class="modal-aside">
            <div class="title">
                Мои задачи
            </div>
            <div class="categoris">
                <div class="categoris-item">
                    <div class="text">Все задачи</div>
                    <div class="counter all-tasks">
                        350
                    </div>
                </div>
                <div class="categoris-item">
                    Работа
                    <div class="counter" id="work">
                        50
                    </div>
                </div>
                <div class="categoris-item">
                    Что-то ещё
                    <div class="counter" id="something-else">
                        300
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <header class="header header--top">
                <div class="header__inner">
                    <form action="" class="search-form">
                        <input type="search" placeholder="Найти задачу" class="search">
                        <input type="image" class="img img--lens" src="./img/magnify.png">
                    </form>

                    <nav class="nav">
                        <a href="" class="nav-item">
                            <img src="./img/bell.png" alt="" class="img img--notif">
                        </a>
                        <a href="" class="nav-item">
                            <img src="./img/defaultUser.png" alt="" class="img img--avatar">
                            <div class="text text--header">
                                <%= info %>
                            </div>
                        </a>
                        <!-- <a href="" class="nav-item">
                            <img src="./img/enter.png" alt="" class="modal-login">
                        </a> -->
                    </nav>


                </div>
            </header>
            
            <div class="after-header">
                <div class="line1">
                    <span class="text">
                        Обзор
                    </span>
                </div>
                <div class="line2"></div>
            </div>

            <div class="greet-message">
                Здравствуйте, <span class="username"><%= info %></span>
            </div>

            <div class="buttons-process">
                <button class="bp-item bp-item--all-task">
                    Все задачи
                    <div class="text all-tasks">
                        350
                    </div>
                </button>
                <button class="bp-item bp-item--in-progress">
                    В процессе
                    <div class="text" id="in-progress">
                        50
                    </div>
                </button>
                <button class="bp-item bp-item--completed">
                    Завершено
                    <div class="text" id="completed">
                        300
                    </div>
                </button>
                <button class="bp-item bp-item--new-task">
                    + Новая задача
                </button>
            </div>
            <section class="tasks">
                <% for (var key in tasks) { %>
                    <div class="tasks-card">
                        <div class="type">
                            <%= tasks[key].categories %>
                        </div>
                        <div class="description">
                            <%= tasks[key].desc %>
                        </div>
                        <!-- Если эта функция нужна будет -->
                        <div class="workers">
                            <img src="./img/defaultUser.png" alt="">
                        </div>
                    </div>
                    <% } %>
            </section>
            <% for (var key in tasks) { %>
            <div class="modal modal--tasks dn">
                <div class="modal-window">
                    <div class="mw-top">
                        <div class="mw-top__title work">
                            <%= tasks[key].name %>
                        </div>
                        <div class="mw-top__deadline">
                            <%= tasks[key].deadline %>
                        </div>
                    </div>
                    <div class="mw-content">
                        <div class="mw-content__description">
                            <%= tasks[key].desc %>
                        </div>
                    </div>
                    <div class="mw-bottom">
                        <div class="mw-bottom__workers">
                            <img src="./img/defaultUser.png" alt="">
                        </div>
                        <button class="mw-bottom__exit">
                            Выйти
                        </button>
                    </div>
                </div>
            </div>
            <% } %>
            <div class="modal modal--newTasks dn">
                <div class="modal-window modal-window--newTasks">
                    <form action="" class="form form--newTasks">
                        <div class="mw-top">
                            <div class="mw-top__title">
                                Государственные задачи
                            </div>
                            <button class="mw-top__button">
                                Создать задачу
                            </button>
                        </div>
                        <div class="mw-content mw-content--newTasks">
                            <% for (var n=0; n<(all_tasks.length); n++) { %>
                            <div class="mw-content__item">
                                <div class="mw-content-item__left">
                                    <div class="count">
                                        <%=n + 1  %>
                                    </div>
                                    <div class="task">
                                        <%= all_tasks[n].name%>
                                    </div>
                                </div>
                                <div class="mw-content-item__right">
                                    <div class="task-check">
                                        <input type="checkbox" id="task" name='<%= all_tasks[n].task_id%>'>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div class="mw-bottom">
                            <button class="mw-bottom__add">
                                Добавить себе
                            </button>
                            <button class="mw-bottom__exit">
                                Выйти
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="./script/main.js"></script>
</body>
</html>